<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="bookFooter" id="footer" class="container-fluid align-content-center p-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p style="font-family: sans-serif !important;">Subscribe to <bold>Bookstore Newsletter</bold></p>
                <h3>Get our monthly updates</h3>
                <p>direct in your email</p>
               <div><input type="text" class="input"><a href="#" class="btn btn-outline-primary btn-sm">Subscribe</a></div>
            </div>
            <div class="col-md-4"></div>
        </div>
</div>
</body>
</html>